$widthContent:1522px;
$widthContentMedium:1020px;
$paddingContent:20px;
$paddingMediumContent:128px;
$paddingMediumContent2:88px;
$colorDark:#151516;
$colorMain:#4061F8;
$colorMainActive:#3252E0;
$colorMainLight:#E6F7FE;
$colorGrey:#BDBFC8;
$colorError:#E86060;
$trans:.3s ease-in-out;
$transLong:.5s ease-in-out;
$mediaDesktop: $widthContent+$paddingContent * 2;
$mediaMobile:760px;
$mediaMobileEnd:761px;
$mediaTabletEnd:1212px;
$mediaTablet:1211px;
$paddingHead:272px;
$paddingHeadMedium:222px;